*{
    margin: 0;
}
html{
    background-color: #F8ECD1;
}
.text{
    color: black;
    padding: 10px;
    font-weight: normal;
}
.wrapper{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: .5fr repeat(7, 1fr) .5fr;
    grid-template-rows: 1fr .75fr .5fr repeat(8, 1fr) .5fr .75fr;
    grid-gap: 5px;
}
header{
    grid-row: 1/2;
    grid-column: 1/10;
    text-align: center;
    background-color: #DEB6AB;
    border-radius: 10px;
}
nav{
    grid-row: 2/3;
    grid-column: 1/10;
    background-color: #DEB6AB;
    border-radius: 10px;
}
nav a{
    text-decoration: none;
    position: relative;
    left: 20px;
    top: 15px;
}
.container{
    background-color: #DEB6AB;
    grid-row: 4/12;
    grid-column: 2/9;
    border-radius: 7px;
}
footer{
    grid-row: 13/14;
    grid-column: 1/10;
    text-align: center;
    background-color: #DEB6AB;
    border-radius: 10px;
}